<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:db.properties"/>
    
     <bean id="dbConnection" class="spring.core.dbConnection">
    	        <constructor-arg index="3" value="${db.driverClassName}" />
    	        <constructor-arg index="1" value="${db.username}" />
    	        <constructor-arg index="2" value="${db.password}" />
    	        <constructor-arg index="0" value="${db.url}" />
    	            	
    </bean>
    
     <bean id="ItemsRepo" class="spring.core.ItemRepo">
        <constructor-arg>
            <bean factory-bean="dbConnection" factory-method="getConnection" />
        </constructor-arg>
    </bean>

</beans>





